<!-- Bootstrap Modal for Confirming Deletion -->
<div class="modal fade" id="confirmDeleteModalMain" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Bekreft sletting</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Lukk"></button>
      </div>
      <div class="modal-body">
        <div class="modal-text">
          Er du sikker på at du vil slette oppgaven?
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary modal-btn" data-bs-dismiss="modal">Avbryt</button>
        <button type="button" class="btn btn-danger modal-btn" id="confirmDeleteBtnMain">Slett</button>
      </div>
    </div>
  </div>
</div>
