<!-- Modal Structure -->
<div class="modal fade" id="discardCreateContactModal" tabindex="-1" role="dialog" aria-labelledby="contractModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contractModalLabel">Contact Not Saved</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Contact not saved. Are you sure you want to continue without saving?
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary modal-btn" data-dismiss="modal">Cancel</button>
        <button id="discardCreateContactButton" type="button" class="btn btn-primary modal-btn">Continue</button>
      </div>
    </div>
  </div>
</div>