<!-- Modal Structure -->
<div class="modal fade" id="changesUnsavedModal" tabindex="-1" role="dialog" aria-labelledby="contractModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contractModalLabel">Changes Not Saved</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-text">
          Changes not saved. Are you sure you want to continue without saving?
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary modal-btn" data-bs-dismiss="modal">Cancel</button>
        <button id="continueWithoutSavingButton" type="button" class="btn btn-primary modal-btn" style="background-color: rgb(76, 149, 76);">Continue</button>
      </div>
    </div>
  </div>
</div>
